{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb", "plugin:@typescript-eslint/recommended"],
  "plugins": [
    "react",
    "jsx-a11y", // accessability checker
    "import", // lints import names and paths
    "@typescript-eslint"
  ],
  "rules": {
    "indent": ["error", 2],
    "@typescript-eslint/indent": "off",
    "no-console": "off", // allow the use of console
    "space-infix-ops": "off",
    "react/jsx-filename-extension": "off",
    "react/no-array-index-key": "off",
    "react/destructuring-assignment": "off",
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "react/jsx-props-no-spreading": "off",
    "arrow-parens": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-one-expression-per-line": "off",
    "max-len": "off",
    "class-methods-use-this": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-parameter-properties": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "no-useless-constructor": "off",
    "no-empty-function": "off",
    "prefer-destructuring": "off",
    "no-underscore-dangle": "off"
  },
  "globals": {
    "window": true,
    "document": true,
    "ENV": true,
    "describe": true,
    "it": true,
    "expect": true,
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
}
